* {
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style-type: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.skillingPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-family: "Quicksand", sans-serif;
}

.skillingPage>span {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
    margin: 15px 0;
}

.skillingPage h1 {
    width: 100%;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
    text-align: left;
    font-family: 'Playfair Display', Georgia, serif;
}

.skillingPage p {
    max-width: 900px;
    width: 100%;
    margin: 15px 0;
    color: var(--secondary-color);
}

.skillingPage .skillsPersent {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /* gap: 20px; */
}

.skillsPersent .skill {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 20px 20px 0;
}

.skillsPersent .skill .skillName {
    font-size: 25px;
    font-weight: 500;
}

.skillsPersent .skill .fullPersent {
    width: 100%;
    background-color: #c9c9c9;
    height: 6px;
    margin-top: 20px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.skillsPersent .skill .persent {
    display: block;
    width: 60%;
    height: 4px;
    background-color: #2c98f0;
    position: absolute;
    top: 1px;
    left: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.skillsPersent .skill .persent::after {
    content: "60%";
    position: absolute;
    right: 0;
    top: -25px;
    color: #2c98f0;
    font-weight: 900;
}

.skillsPersent .skill .persent::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #2c98f0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.skillsPersent .skill:nth-child(2) .persent {
    display: block;
    width: 75%;
    height: 4px;
    background-color: #f9bf3f;
    position: absolute;
    top: 1px;
    left: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.skillsPersent .skill:nth-child(2) .persent::after {
    content: "75%";
    position: absolute;
    right: 0;
    top: -25px;
    font-weight: 900;
    color: #f9bf3f;
}

.skillsPersent .skill:nth-child(2) .persent::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #f9bf3f;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.skillsPersent .skill:nth-child(3) .persent {
    display: block;
    width: 85%;
    height: 4px;
    background-color: #ec5453;
    position: absolute;
    top: 1px;
    left: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.skillsPersent .skill:nth-child(3) .persent::after {
    content: "85%";
    position: absolute;
    right: 0;
    top: -25px;
    color: #ec5453;
    font-weight: 900;
}

.skillsPersent .skill:nth-child(3) .persent::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #ec5453;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.skillsPersent .skill:nth-child(4) .persent {
    display: block;
    width: 90%;
    height: 4px;
    background-color: #a84cb8;
    position: absolute;
    top: 1px;
    left: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.skillsPersent .skill:nth-child(4) .persent::after {
    content: "90%";
    position: absolute;
    right: 0;
    top: -25px;
    color: #a84cb8;
    font-weight: 900;
}

.skillsPersent .skill:nth-child(4) .persent::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #a84cb8;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.skillsPersent .skill:nth-child(5) .persent {
    display: block;
    width: 50%;
    height: 4px;
    background-color: #2fa499;
    position: absolute;
    top: 1px;
    left: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.skillsPersent .skill:nth-child(5) .persent::after {
    content: "50%";
    position: absolute;
    right: 0;
    top: -25px;
    color: #2fa499;
    font-weight: 900;
}

.skillsPersent .skill:nth-child(5) .persent::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #2fa499;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.skillsPersent .skill:nth-child(6) .persent {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #4054b2;
    position: absolute;
    top: 1px;
    left: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.skillsPersent .skill:nth-child(6) .persent::after {
    content: "100%";
    position: absolute;
    right: 0;
    top: -25px;
    color: #4054b2;
    font-weight: 900;
}

.skillsPersent .skill:nth-child(6) .persent::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #4054b2;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media (max-width:1000px) {
    .skillingPage {
        top: 100%;
        left: 0;
        margin-inline: 50px;
        transform: translate(0, -100%);
        -webkit-transform: translate(0, -100%);
        -moz-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
        -o-transform: translate(0, -100%);
    }

    .skillsPersent .skill {
        width: 90%;
    }
}