* {
    margin: 0;
    padding: 0;
    color: #000;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    list-style-type: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.homePage {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "Quicksand", sans-serif;
}

.homePage.first .firstPage,
.homePage.second .secondPage {
    width: 100%;
    height: 100vh;
    position: relative;
}

.homePage.first .firstPage .imageContainer,
.homePage.second .secondPage .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.homePage.first .firstPage .imageContainer img,
.homePage.second .secondPage .imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homePage.first .firstPage .content,
.homePage.second .secondPage .content {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.homePage.first .firstPage .content h1,
.homePage.second .secondPage .content h1 {
    font-size: 55px;
    font-family: 'Playfair Display', Georgia, serif;
    margin-block: 20px;
}

.homePage.first .firstPage .content p,
.homePage.second .secondPage .content p {
    font-size: 20px;
    margin-block: 20px;
}

.homePage.first .firstPage .content p a,
.homePage.second .secondPage .content p a {
    color: var(--links-color);
}

.homePage.first .firstPage .content button,
.homePage.second .secondPage .content button {
    padding: 15px 30px;
    font-size: 15px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 1px solid #000;
    cursor: pointer;
    background-color: transparent;
}

.homePage.first .secondPage {
    display: none;
}

.homePage.second .firstPage {
    display: none;
}